*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --font-family-crimson: 'Crimson Pro', serif;

    --font-family-lora: 'Lora', serif;

    --font-family-montserrat: 'Montserrat', sans-serif;
}

body {
    background: #181719;
    color: #FFFFFF;
    margin: 0;
    font-family: var(--font-family-montserrat);
    padding: 1.188rem 0.75rem;
}

/***********************************************************/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .logo {
    border: 1px solid #FFFFFF;
    width: 103px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo p {
    font-family: var(--font-family-crimson);
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
}

nav .hamburger{
    display: block;
    width: 1.781rem;
    cursor: pointer;
    transition: all 250ms ease;

}

nav .hamburger:hover,
nav .hamburger:focus{
    filter:brightness(0.75);
}

nav .hamburger-icon{
    width: 100%;
}

nav ul {
    display: none;
}

nav .cross-icon{
    display: none;
}

/* OPEN NAVIGATION */


nav.show .logo{
    opacity: 0;
}

nav.show .hamburger-icon{
    display: none;
}

nav.show .cross-icon{
    display: block;
    width: 100%;
    transition: all 250ms ease;
}

nav.show .cross-icon:hover,
nav.show .cross-icon:focus{
    filter:brightness(0.75);
}


nav.show ul{
    display: block;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%)
}

nav ul li{
    list-style: none;
    text-align: center;
    transition: all 250ms ease;

}

nav ul li a{
    text-decoration: none;
    color: inherit;

    font-family: var(--font-family-montserrat);
    font-weight: 500;
    font-size: 18px;
    line-height: 65px;

    border-bottom: 3px solid transparent;
    padding-bottom: 3px;
    transition: all 300ms ease;
}

nav ul li a:hover {
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 3px;
}

nav ul li.active a{
    font-weight: 700;
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 3px;
}

body nav.show + section.hero{
    display: none;
}

/*********************************************************/

section.hero {
    margin-top: 2.5rem;
    position: relative;
}
section.hero .about {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2.5rem;
}

section.hero .about span{
    cursor: pointer;
}

section.hero .about h1 {
    font-family: var(--font-family-lora);
    font-weight: 500;
    font-size: 36px;
}

section.hero .about p {
    font-weight: 400;
    font-size: 14px;
    margin: 2rem 0;
}

section.hero .image {
    display:flex;
    flex-direction: column;
}

section.hero .image img{
    width: 100%;
}

section.hero .image .card {
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    height: 8.625rem;
    bottom: -7rem;
    right: 0.8rem;
    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.hero .image .card .info{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

section.hero .image .card .info .dp{
    width: 3rem;
    height: 3rem;
    background: url("../images/photo2.png");
    background-size: contain;
    background-position: center;
    border-radius:50%;
    margin: 0.5rem 1rem; 
}

section.hero .image .card .name {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0.2rem;
}

section.hero .image .card .prof {
    font-size: 10px;
    line-height: 12px;
    color: #828282;
    margin-top: 0;
}

section.hero .image .card .title {
    font-family: var(--font-family-lora);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin:0 1rem;
    padding-right: 3rem;
}

/*******************************************************/

@media (min-width: 768px){
    body {
        padding: 2.625rem 4.813rem;
    }

    nav .hamburger{
        display: none;
    }
    nav ul {
        display: flex;
        margin: 0;

    }
    nav ul li {
        margin-right: 3rem;
    }

    nav ul li:last-child {
        margin-right: 0;
    }

    section.hero {
        display: flex;
        margin-top: 13.5rem;
    }

    section.hero .about {
        flex: 1;
    }

    section.hero .image {
        flex: 1;
    }

    section.hero .image .card {
        bottom: -5rem;
        right: 0.8rem;
    }

    /* section.hero .about h1{
        font-size: 48px;
    }
    
    section.hero .about p {
        font-size: 24px;
    }

    section.hero .image .card {
        width: 25.625rem;
        height: 11.813rem;
    }
    section.hero .image .card .info .dp{
        width: 3.5rem;
        height: 3.5rem;
    }
    section.hero .image .card .name {
         font-size: 14px;
    }
    section.hero .image .card .prof {
        font-size: 12px;
    }
    section.hero .image .card .title {
        font-size: 24px;
    } */
}

@media (min-width: 1024px){

    nav ul li {
        margin-right: 5rem;
    }

    nav ul li:last-child {
        margin-right: 0;
    }

    section.hero {
        margin-top: 5rem;
        margin-bottom: 5rem;

    }
    
    section.hero .about {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section.hero .about h1{
        font-size: 48px;
    }
    
    section.hero .about p {
        font-size: 24px;
        padding-right: 13rem;
    }

    section.hero .image .card {
        width: 25.625rem;
        height: 11.813rem;
    }
    section.hero .image .card .info .dp{
        width: 3.5rem;
        height: 3.5rem;
        margin: 0.75rem 1.25rem; 

    }
    section.hero .image .card .name {
         font-size: 14px;
    }
    section.hero .image .card .prof {
        font-size: 12px;
    }
    section.hero .image .card .title {
        font-size: 24px;
    }
}

/* @media (min-width: 1440px){
    section.hero {
        margin-top: 13.5rem;
        margin-bottom: 13.5rem;
    }
} */
