*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --font-family-crimson: 'Crimson Pro', serif;

    --font-family-lora: 'Lora', serif;

    --font-family-montserrat: 'Montserrat', sans-serif;
}

body {
    background: #181719;
    color: #FFFFFF;
    margin: 0;
    font-family: var(--font-family-montserrat);
    min-height: 100vh;
    min-width: 100vw;
    padding: 1.188rem 0.75rem;
}

/***********************************************************/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .logo {
    border: 1px solid #FFFFFF;
    width: 103px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo p {
    font-family: var(--font-family-crimson);
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
}

nav .hamburger{
    display: block;
    width: 1.781rem;
    cursor: pointer;
}

nav .hamburger:hover{
    filter:brightness(0.75);
}

nav .hamburger-icon{
    width: 100%;
}

nav ul {
    display: none;
}

nav .cross-icon{
    display: none;
}

/* OPEN NAVIGATION */


nav.show .logo{
    opacity: 0;
}

nav.show .hamburger-icon{
    display: none;
}

nav.show .cross-icon{
    display: block;
    width: 100%;
}

nav.show .cross-icon:hover{
    filter:brightness(0.75);
}


nav.show ul{
    display: block;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%)
}

nav.show ul li{
    list-style: none;
    text-align: center;
}

nav.show ul li a{
    text-decoration: none;
    color: inherit;

    font-family: var(--font-family-montserrat);
    font-weight: 500;
    font-size: 18px;
    line-height: 65px;
}

nav.show ul li.active a{
    font-weight: 700;
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 3px;
}

body nav.show + section.hero{
    display: none;
}

/*********************************************************/

section.hero {
    margin-top: 2.5rem;
    position: relative;
}
section.hero .about {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2.5rem;
}
section.hero .about h1 {
    font-family: var(--font-family-lora);
    font-weight: 500;
    font-size: 36px;
}

section.hero .about p {
    font-weight: 400;
    font-size: 14px;
    margin: 2rem 0;
}

section.hero .image {
    display:flex;
    flex-direction: column;
}

section.hero .image img{
    width: 100%;
}

section.hero .image .card {
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    height: 8.625rem;
    bottom: -7rem;
    right: 0.8rem;
    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.hero .image .card .info{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

section.hero .image .card .info .dp{
    width: 3em;
    height: 3em;
    background: url("/images/photo2.png");
    background-size: contain;
    background-position: center center;
    border-radius:50%;
    margin: 0.5rem 1rem; 
}

section.hero .image .card .name {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0.2rem;
}

section.hero .image .card .prof {
    font-size: 10px;
    line-height: 12px;
    color: #828282;
    margin-top: 0;
}

section.hero .image .card .title {
    font-family: var(--font-family-lora);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin:0 1rem;
    padding-right: 3rem;
}

/*******************************************************/
